body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.btn:hover {
  background-color: #218838;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.profile-item button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.profile-item button:hover {
  background-color: #0056b3;
}

/* Estilo para o input de upload de arquivo */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  text-align: center;
}

.upload-label:hover {
  background-color: #0056b3;
}

.upload-label input[type="file"] {
  display: none;
}

.upload-label span {
  margin-left: 10px;
  font-weight: bold;
  color: #ffffff;
}
